<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Главная</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css">
</head>
<body>
<div class="container">
    <!-- Вставляем меню -->
    <div th:replace="fragments/menu :: menu"></div>

    <main class="content">
        <h1 th:text="${title}">Главная</h1>
        <div class="profile">
            <img th:src="@{/images/photo.jpg}" alt="Фото психолога" width="200">
            <div class="profile-text">
                <p><strong>Доброго времени суток!</strong></p>
                <p>
                    Меня зовут Камила, я дипломированный практикующий психолог.
                    Закончила Севастопольский государственный университет по специальности.
                    Имею опыт работы в школе педагогом-психологом. В данный момент времени
                    веду частную практику и потому приглашаю Вас к себе на психологическую
                    консультацию (онлайн).
                </p>

                <h2>Помогу разобраться со следующими запросами:</h2>
                <ul>
                    <li>Тревога, беспокойство, страхи;</li>
                    <li>Агрессия, раздражительность;</li>
                    <li>Прокрастинация, нежелание что-либо делать;</li>
                    <li>Подавленное состояние, выгорание;</li>
                    <li>Межличностные отношения (конфликты);</li>
                    <li>Самореализация, выбор профессии;</li>
                    <li>Неуверенность в себе, в собственных силах;</li>
                    <li>Психосоматика.</li>
                </ul>

                <p>
                    Работаю с любым возрастом в направлении когнитивно-поведенческой терапии,
                    позитивной и клиент-центрированной психотерапии. Опираюсь на техники
                    арт-терапии, а также использую метафорические ассоциативные карты.
                </p>

                <p>
                    В процессе консультации гарантирую этичность, бережность и конфиденциальность.
                </p>

                <p>
                    <strong>Стоимость одной онлайн консультации — 1500 рублей (1 час).</strong><br>
                    <em>Первичная консультация, знакомство — 1000 р/час.</em>
                </p>

                <h3>Преимущества работы онлайн:</h3>
                <li>доступность</li>
                <li>конфиденциальность</li>
                <li>экономия времени</li>
                <li>комфортная обстановка</li>
                </ul>
            </div>
        </div>
    </main>
</div>
</body>
</html>